<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drcorp.drtravel">

    <uses-feature android:name="android.hardware.camera.ar" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.drcorp.drtravel.ui.erroractivity.ErorrActivity"></activity>
        <activity android:name="com.drcorp.drtravel.ui.detailwisata.DetailGaleri"></activity>
        <activity android:name="com.drcorp.drtravel.ui.lainnya.UndangTemanActivity" />
        <activity android:name="com.drcorp.drtravel.ui.lainnya.EditProfileActivity" />
        <activity android:name="com.drcorp.drtravel.ui.detailfoodmasjid.DetailFoodMasjidActivity" />
        <activity android:name="com.drcorp.drtravel.ui.detailwisata.DetailWisataActivity" />
        <activity android:name="com.drcorp.drtravel.ui.home.pencarian.PencarianActivity" />
        <activity android:name="com.drcorp.drtravel.ui.home.cardmenu.WadahMenuActivity" />
        <activity android:name="com.drcorp.drtravel.ui.lainnya.InfoAppActivity" />
        <activity android:name="com.drcorp.drtravel.MainActivity" />
        <activity android:name="com.drcorp.drtravel.login.LoginActivity" />
        <activity android:name="com.drcorp.drtravel.login.RegisterActivity" />
        <activity android:name="com.drcorp.drtravel.login.LupaSandiActivity" />
        <activity android:name="com.drcorp.drtravel.login.LupaSandiActivity2" />
        <activity android:name="com.drcorp.drtravel.splashscreen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
    </application>

</manifest>